<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
  internalLogFile="AssetManagement_Log/SystemService.txt">
  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- TODO Change the local file path-->
  <variable name="baseloc" value="AssetManagement_Log/" />

  <targets>
    <!--TODO  change the [ServiceName] in layout Tag-->
    <target xsi:type="File" name="logfile"
      fileName="${baseloc}/service.log"
      archiveFileName="${baseloc}/archives/service.{#####}.log"
      archiveAboveSize="5024000"
      archiveNumbering="Sequence"
      concurrentWrites="true"
      keepFileOpen="false"      
      layout="${longdate} ${uppercase:${level}} [AssetManagement] ${message} |  ${exception:format=tostring} "
      encoding="UTF-8"/>
    <target name="ElasticSearch"
            xsi:type="ElasticSearch"
            connectionStringName="ElasticSearchServerAddress"
            index="ezETC"
            documentType="logevent"
            includeAllProperties="true"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${level}] ${logger} ${message} ${exception:format=toString}">
      <field name="MachineName" layout="${machinename}" />
      <field name="Time" layout="${longdate}" />
      <field name="level" layout="${level:uppercase=true}" />
      <field name="logger" layout=" ${logger}" />
      <field name="message" layout=" ${message}" />
      <field name="exception" layout=" ${exception:format=toString}" />
      <field name="processid" layout=" ${processid}" />
      <field name="threadname" layout=" ${threadname}" />
      <field name="stacktrace" layout=" ${stacktrace}" />
      <field name="Properties" layout="${machinename} ${longdate} ${level:uppercase=true} ${logger} ${message} ${exception}|${processid}|${stacktrace}|${threadname}" />
    </target>
  </targets>
  <rules>
    <!-- TODO enable the ELK-->
    <!--<logger name="*" minlevel="debug" writeTo="ElasticSearch" />-->
    <logger name="*" minlevel="Warn" writeTo="logfile" />
  </rules>
</nlog>